@syntax-color-1-main: rgb(22,22,22);
@syntax-color-1-trim: rgb(45,45,45);
@syntax-color-1-contrast: rgb(230,230,220);
@syntax-color-1-faint: rgb(195,190,185);

@syntax-color-2-main: rgb(190,240,100);
@syntax-color-2-trim: rgb(130,180,70);
@syntax-color-2-contrast: rgb(20,30,10);

@syntax-color-3-main: rgb(255,60,95);
@syntax-color-3-trim: rgb(150,30,55);
@syntax-color-3-contrast: rgb(25,5,10);
